@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Telefone">Call me:</abbr>
    +55 11 94443-2365
</address>

<address>
    <strong>Contato: </strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    </address>
